<div>
  <h1 class="font-bold text-4xl">Monsters#index</h1>
  <p>Find me in app/views/monsters/index.html.erb</p>
</div>

<h1>Monster name: <%= @monster.name %></h1>

<p>Monster description: <%= @monster.description %></p>

<p>Monster size: <%= @monster.size %></p>

<p>Monster species<%= @monster.species %></p>

<h2><%= link_to 'Locations', locations_path %></h2>

<ul>
  <% @monster.locations.each do |location| %>
    <li><%= location.name %> (Zone Count: <%= location.zoneCount %>)</li>
  <% end %>
</ul>

<h2><%= link_to 'Ailments', ailments_path%></h2>
<ul>
  <% if @monster.ailments.empty? %>
    <li>The monster doesn't have an ailment</li>
  <% else %>
    <% @monster.ailments.each do |ailment| %>
      <li><%= ailment.name %> (Description: <%= ailment.description %>)</li>
    <% end %>
  <% end %>
</ul>

<%= link_to 'Back to Monsters List', root_path %>